body{
    font-family: "ヒラギノ角ゴ pro W6","メイリオ","MS Pゴシック";
}

h1{
    margin: 0 auto;
    border-left: 8px red solid;
    margin-top: 10px;
    background-color: #F5F5F5;
    font-size: 23px;
    padding: 10px;
    width: 450px;
    margin-left: 20px;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

form{
    margin: 0 auto;
    background-color: #F5F5F5;
    border: 2px solid #DCDCDC; 
    width: 500px;
    margin-left: 10px;
    border-radius: 10px;
    
}

form div{
    padding: 10px;
    margin-left: 10px;
}

.text,textarea,.dropdown{
    border: 1px solid #999;
    padding: 5px;
    color: #999;
    background: #fff;
}

.submit{
    border: 1px solid #DCDCDC;
    padding: 4px 10px;
    color: gray;
    background-color: #DCDCDC;
    border-radius: 10px;
    border-bottom: solid 5px gray;
}